

<ion-content color="danger">
<ion-item>
  <ion-title>ABOUT</ion-title>
  <ion-icon name="close" slot = "end" (click)= "CloseModal()"size="small">close</ion-icon>
</ion-item>
<ion-label style="font-weight: 50;font-size: 23px;">
  This application is a type of E-Diary/Electronic  Personal Diary where you can store your memories with ease process.<br/><br/>
  •Cherish every memorable/happy/sad moments and type it down to this E-Diary.<br/><br/>
  •Save the dates so you can remember when did it happen.<br/><br/>
  •Categorize the memories with Personal/Family/Someone.
</ion-label>
</ion-content>
