ion-toolbar {
    --background: #f5f5f3;

    ion-button {
        text-transform: initial;
        font-size: 17px;
    }
}

ion-content {
    --background: #f5f5f3;

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 900px;
            font-size: 30px;
            color: #010100;
            margin-bottom: 10%;
        }

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 8px solid #ffffff;
        }
    }

    #form {
        margin-top: 10%;
        padding-left: 30px;
        padding-right: 30px;

        ion-button {
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
            --box-shadow: none;
        }
    }
}