<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 800;font-size: 3em;">
        MY DIARY
        <p style="font-weight: 400;color: #ff0000 ;">{{today | date:'fullDate'}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-menu menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="About()">
        <p>ABOUT</p>
      </ion-item>
      <ion-item routerLink="/login">
        <p>LOGOUT</p>
      </ion-item>

    </ion-list>
    <script id = "home.page.html" type = "text/ng-template">
      <ion-modal-view>
         <ion-header-bar>
            <h1 class = "title">Modal Title</h1>
         </ion-header-bar>
         <ion-content>
            <button class = "button icon icon-left ion-ios-close-outline"
               ng-click = "closeModal()">Close Modal</button>
         </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
  
  <ion-card id="card" *ngFor="let item of todoList; let i = index" class="ion-margin">
    <ion-card-header>
      
      <ion-card-subtitle [style.color]="item.value.itemPriority === 'high' ? 'red' : (item.value.itemPriority === 'low' ? 'green' : 'orange')">
        {{item.value.itemCategory}}
      </ion-card-subtitle>

      <ion-item>
        <ion-label>Title:
          {{item.value.itemName}}</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-header>
      <ion-item>
        <ion-label>Content:{{item.value.itemContent}}</ion-label>
      </ion-item>
    </ion-card-header>


    <ion-card-content>
      <ion-label>Date: {{item.value.itemDueDate | date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>
    

      <ion-item button (click)="update(item)">
        <ion-icon name="create-outline"></ion-icon>
        <p>View & Update</p>
      </ion-item>

      <ion-item button (click)="delete(item.key)">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Delete</p>
      </ion-item>
    </ion-row>

  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-menu-button vertical="bottom" horizontal="end" slot="fixed">
    <ion-menu-button (click)="custom">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
  </ion-menu-button>
</ion-content>

