ion-content{
  --background : #77f857;

  p{
   font-weight: 300;
  }

ion-menu-button {
  --padding-end: 50px;
  --color-hover: #010100;
}
ion-card{
  margin-top: 40px;
}
ion-menu-button {
  font-size: 55px !important;
  margin-left: 153px;
  margin-top: 3px;
}


}
