<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Update Diary</ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-card class="ion-align-self-center" >
    <ion-label>Title</ion-label>
    <ion-item>
      <ion-textarea style="font-weight: 900; font-size: 20px ;color: #e71010 ;"[(ngModel)]="itemName"  placeholder="Diary Title"></ion-textarea>
   </ion-item>
   <ion-label>Content</ion-label>
   <ion-item>
    <ion-textarea readonly value [(textContent)]="itemContent"></ion-textarea>
  </ion-item>

   <ion-item>
     <ion-label >Felt</ion-label>
     <ion-select [(ngModel)]="itemPriority">
       <ion-select-option value="low">Memorable</ion-select-option>
       <ion-select-option value="middle">Happy</ion-select-option>
       <ion-select-option value="high" selected>Sad</ion-select-option>
      </ion-select>
   </ion-item>
 

   <ion-item>
     <ion-icon name="pricetag-outline" slot="start"></ion-icon>
     <ion-label> Category</ion-label>
     <span>{{categorySelectedCategory}}</span>
   </ion-item>
 
  

   <ion-button class="ion-margin" expand="block" (click)="update()">Update Diary</ion-button>

  </ion-card>
 


</ion-content>
