<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-center">Add Diary</ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center" >
    <ion-item>
      <ion-textarea [(ngModel)]="itemName"  placeholder="Diary Title"></ion-textarea>
   </ion-item>
 
   <ion-item>
    <ion-textarea [(ngModel)]="itemContent" placeholder="Diary Content"></ion-textarea>
 </ion-item>

   <ion-item>
     <ion-label >Feeling</ion-label>
     <ion-select [(ngModel)]="itemPriority">
       <ion-select-option value="low">Memorable</ion-select-option>
       <ion-select-option value="middle">Happy</ion-select-option>
       <ion-select-option value="high" selected>Sad</ion-select-option>
      </ion-select>
   </ion-item>
  
   <ion-item>
     <ion-icon name="calendar-outline"slot="start"></ion-icon>
     <ion-label >Date </ion-label>
     <ion-datetime [(ngModel)]="itemDueDate"  displayFormat="D MMM YYYY H:mm"></ion-datetime>
   </ion-item>
 

   <ion-item>
     <ion-icon name="pricetag-outline" slot="start"></ion-icon>
     <ion-label> Category</ion-label>
     <span>{{categorySelectedCategory}}</span>
   </ion-item>
 
   <ion-item>
     <ion-chip  *ngFor="let tag of categories; let i = index" color="secondary" outline="true" (click)="selectCategory(i)">
       <ion-label color="secondary">{{tag}}</ion-label>
     </ion-chip>
 
     
   </ion-item>

   <ion-button class="ion-margin" expand="block" (click)="add()">Add Diary</ion-button>

  </ion-card>
 


</ion-content>
