<ion-header class= "ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>SignUp for <br/>Account</h1>
    <img src = "assets/logo.jpg"/>
  </div>

  <form id="form">
    <app-input placeholder="Username"></app-input>
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder = "Password"></app-input>
    <ion-button routerLink="/home" expand = "block" shape="round">Sign Up!</ion-button>
  </form>
</ion-content>
